main {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/rough-cloth-light.png");
    padding-top: 1%;
}

a {
    color: black;
}

a::hover {
    color: darkslategray;
}

p {
    font-size: 2.5em;
    font-family: 'Lora', serif;
}



.navHeadClass {
    margin-right: 0px;
}

#navHead {

    margin-right: 0px;
    font-family: 'Kiwi Maru', serif;
    font-size: 4em;
    font-weight: medium;
    justify-content: flex-start;
    margin-bottom: 0px;

}

#headerRow {
    width: 115%;
    margin-bottom: 0px;
    color: black;
    padding-left: 30px;
    padding-right: 15px;
    background-color: white;
    margin-right: -48px;
    margin-left: -37px;
    padding-bottom: 0px;
    height: 28%;
}

.mainSubHead {
    font-family: 'Kiwi Maru', serif;
    font-size: 2em;
    align-items: flex-start;

}

.menu {
    color: black;
    text-align: right;
    font-size: 4em;
    padding-left: 30%;
}

.navStyle {
    height: 600px;
    background: url("../images/heading.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    justify-content: flex-start;
    align-items: flex-end;
    float: top;
    margin-bottom: 0px;
    padding: 0.5rem 3rem;
}


#navLinks {
    width: 50%;
    color: black;
}

.bodyContent {
    margin-top: 0%;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fafafa;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");

    border: 30px solid #fceae8;
    padding-top: 5%;

}

#contTop {
    margin-top: 5%;
}

#projectContainer {
    display: flex;
    margin-top: 5%;
    margin-left: 14%;
    margin-right: 20%;
    background-color: #fafafa;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
    border: 30px solid #fceae8;
    padding: 40px;
}

#projectContainerLast {
    display: flex;
    margin-top: 5%;
    margin-left: 14%;
    margin-right: 20%;
    background-color: #fafafa;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-dots.png");
    border: 30px solid #fceae8;
    padding: 40px;
    margin-botton: 30px;
}

.me {
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#aboutMe {
    justify-content: center;
}

img {
    width: 95%;
    border: medium solid black;
}

.subheadings {
    font-size: 4em;
    text-align: center;
    margin-bottom: 2em;
    color: black;
    font-family: 'Lora', serif;
    justify-content: center;
}

.row {
    margin-bottom: 2em;
}

#profilepic {
    margin: 0px;
}

#text {
    margin: 0px;
}

#projects {
    margin-top: 2%;
}

#primaryProject {
    display: flex;
    padding: 0px;
    text-align: center;
    align-items: center;
}

.project-heading {
    text-align: center;
    color: #355261;
    font-size: 1.8em;
}

#pokemon {
    width: 75%;
    margin-left: 10%;
}

.moreprojectex {
    flex-direction: row;
    wrap: no-wrap;
}

.footerSubHead {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-right: thick solid gray;
    font-size: 2em;
    color: gray;

    height: 200px;
}

#contactMe {
    color: gray;
    font-size: 2.5em;
    flex-direction: row;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

.contactinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    color: gray;
    ;
}

.contactinfo div {
    font-family: 'Antic Slab', serif;
    font-size: 2em;
    text-decoration: underline;
    color: gray;
    ;
}

.contactinfo a {
    font-family: 'Antic Slab', serif;
    font-size: 2em;
    text-decoration: underline;
    color: gray;
    ;
}

#github {
    color: gray;
    ;
}

#linkedIn {
    color: gray;
    ;
}

/* when screen falls below 992px */
@media screen and (max-width: 992px) {
    p {
        font-size: 1.5em;
    }

    . subheadings {
        font-size: 2em;
        width: 100%;
        justify-content: center;
    }

    .footerSubHead {
        font-size: 1em;
    }

    #navHead {
        font-size: 3em;
    }

    .mainSubHead {
        font-size: 1em;
    }

    .menu {
        font-size: 2em;
    }

    #projects {
        font-size: 2em;
    }

    .project-heading {
        font-size: 1.5em;
        padding: 0px;
        margin: 0px;
    }

    #contactMe {
        font-size: 1em;
    }

    .contactinfo div {
        font-size: 1em;
    }

    .contactinfo a {
        font-size: 1em;
    }
}

/* when screen falls below 748px */
@media screen and (max-width: 748px) {

    p {
        font-size: 1em;
    }

    . subheadings {
        font-size: 1em;
        width: 100%;
        justify-content: center;
    }

    .footerSubHead {
        font-size: .5em;
    }

    #navHead {
        font-size: 1em;
    }

    .mainSubHead {
        font-size: .5em;
    }

    .menu {
        font-size: 1em;
    }

    #projects {
        font-size: 1em;
    }

    .project-heading {
        font-size: 1em;
        
    }

    #contactMe {
        font-size: .5em;
    }

    .contactinfo div {
        font-size: .5em;
    }

    .contactinfo a {
        font-size: .5em;
    }
}