

main {
    background-color: #ffffff;
background-image: url("https://www.transparenttextures.com/patterns/redox-02.png");


}

a {
    color: white;
}

a::hover {
    color: darkslategray;
}

p {
    font-size: 1.5em;
}
.navHeadClass {
    margin-right: 0px;
}

#navHead {
    background-color: #595b61 color: white;
    margin-right: 0px;
    font-family: 'Kiwi Maru', serif;
    font-size: 3em;
    font-weight: medium;
    justify-content: flex-start;
    margin-bottom: 0px;

}

#headerRow {
    width: 100%;
    margin-bottom: 0px;
}

.mainSubHead {
    font-family: 'Kiwi Maru', serif;
    font-size: 2em;
    align-items: flex-start;

}

.menu {
    color: white;
    text-align: right;
    font-size: 3em;
    padding-left: 30%;
}

.navStyle {
    height: 400px;
    background-image: url("https://images.unsplash.com/photo-1616862486227-b34e18537e68?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=701&q=80") ;
    
    
    color:black;
    justify-content: flex-start;
    align-items: flex-start;
    float: top;
    margin-bottom: 0px;
    padding: 0.5rem 3rem;
}


#navLinks {
    width: 50%;
}

.bodyContent {
    margin-top: 0%;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f5eedf;
    background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
    border: 30px solid #fceae8;
    padding-top: 5%;

}

#contTop {
    margin-top: 5%;
}
#projectContainer {
    margin-top: 5%;
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #f5eedf;
    background-image: url("https://www.transparenttextures.com/patterns/dark-dotted-2.png");
    border: 30px solid #fceae8;
    padding: 40px;
}



.me {
    margin-bottom: 20px;
}
#aboutMe {
    justify-content: center;
}
img {
    width: 95%;
    border: medium solid black;
}

.subheadings {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 2em;
    color: black;
    font-family:'Raleway', sans-serif; 
    justify-content: center;
}

.row {
    margin-bottom: 2em;

}



#profilepic {
    margin: 0px;
}

#text {
    margin: 0px;
}
#projects {
    margin-top: 2%;
}
#primaryProject {
    display: flex;
    padding: 0px;
    text-align: center;
    align-items: center;
}
.project-heading {
    text-align: center;
    color: #355261;
    font-size: 1.8em;
}
#pokemon {
    width: 75%;
    margin-left: 10%;
}

.footerSubHead {
    margin-top: 5%;
    padding: 10px;
    border-right: thick solid gray;
    font-family: 'Antic slab', serif;
    color: gray;
    font-size: 1.3em;
    height: 200px;
}

#contactMe {
    color: gray;
    font-size: 1.3em;
    flex-direction: row;
    align-items: center;
}

.contactinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    align-items: center;
    color: #355261;
}

.contactinfo div {
    font-family: 'Antic Slab', serif;
    font-size: 2em;
    text-decoration: underline;
    color: #355261;
}

.contactinfo a {
    font-family: 'Antic Slab', serif;
    font-size: 2em;
    text-decoration: underline;
    color: #355261;
}

#github {
    color: #355261; 
}

#linkedIn {
    color: #355261;
}
/* background-color: #072b3a;
opacity: 0.8;
background-image: linear-gradient(-45deg, #072b3a, #072b3a 50%, #06242a 50%, #06242a);
background-size: 20px 20px; */